__pycache__
*.pyc
!python/**/*.pyc
/installer/main.backup
/installer/log.txt
/python/log.txt
config/lastPlayedData.json
config/favourites.json
/.vscode
/ipkgen/*.ipk
/volume/setVolume
/volume/setVolume.o
/opkgen/*.opk
/libopk/*.ipk
